<% @post.each do |post| %>
<%= link_to "#{post.title} at #{post.date}", "/posts/#{post.id}" %></br>
<%end%>
<h1>이벤트를 입력해주세요</h1>
<%#= form_tag '/posts', method:'post' do %>
<!--<p>Event title:<%#= text_field_tag 'input_title' %></p>-->
<!--<p>Event date:<%#= date_field_tag 'input_date'%></p>-->
<%#= submit_tag '제출'%>
<%#end%>

<%= form_for @p do |f|%>
<%= f.text_field :title %>
<%= f.date_field :date %>
<%= f.submit %>
<%end%>